<div>
    <h2>Upload CSV File</h2>
    <form (submit)="uploadFile()" enctype="multipart/form-data">
      <input type="file" (change)="onFileSelected($event)" accept=".csv" />
      <button type="submit" [disabled]="!selectedFile">Upload</button>
    </form>
    <p *ngIf="uploadSuccess">{{ uploadMessage }}</p>
    <button class="input-button" (click)="goBack()">Go Back</button>
  </div>
  <div>
  <button class="input-button" (click)="fetchExpenses()">Fetch Expenses Data</button>
</div>
<div>
  <h2>Expense List</h2>
  <table>
    <thead>
      <tr>
        <th>Month</th>
        <th>Date</th>
        <th>Amount</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{ expense.Month }}</td>
        <td>{{ expense.Date }}</td>
        <td>{{ expense.Amount }}</td>
        <td>{{ expense.Description }}</td>
      </tr>
    </tbody>
  </table>
</div>