
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" routerLink="/csvUpload">Expense Tracker</a>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/expenseInput">Add Expense</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/expenseReport">Expense Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/Account">Account</a>
          </li>  
        </ul>
      </div>
    </div>
  </nav>
  <button (click)="toggleCalculator()"  class="contact-us-button">Open Calculator</button>
  <app-calculator *ngIf="showCalculator"></app-calculator>



  <!-- routerLink="/Calculator" -->