<!-- <h2>Login</h2>
<form (ngSubmit)="login(formData)">
  <input type="text" name="username" [(ngModel)]="formData.username" placeholder="Username" required>
  <input type="password" name="password" [(ngModel)]="formData.password" placeholder="Password" required>
  <button type="submit">Login</button>
</form>
<p><a routerLink="/registration">Create New Account</a></p> -->

<!-- registration-form.component.html -->
<div class="paper-card">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <label for="firstName">First Name</label>
    <input type="text" id="firstName" formControlName="firstName">
  
    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" formControlName="lastName">
  
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email">
  
    <label for="userName">Username</label>
    <input type="text" id="userName" formControlName="userName">
  
    <label for="password">Password</label>
    <input type="password" id="password" formControlName="password">
  
    <label for="confirmPassword">Confirm Password</label>
    <input type="password" id="confirmPassword" formControlName="confirmPassword">
  
    <button type="submit" [disabled]="userForm.invalid">Submit</button>
  </form>

  <div class="create-link">
    <a routerLink="/login">Already have an account? Login</a>
  </div>
  
</div>
  